@font-face {
	font-family: "Saitamaar";
	src: 	url("/fonts/Saitamaar.woff2") format("woff2"),
		url("/fonts/Saitamaar.otf") format("otf"),
		url("/fonts/Saitamaar.ttf") format("ttf");
	font-display: swap;
}

:root {
	--fonts:
		"Saitamaar",
		"MS UI Gothic",
		sans-serif;
	--regularfonts:
		"MS UI Gothic";
}

body {
	font-family: var(--fonts);
	font-size: 16px; 
}

h1, h2, h3 {
	font-family: var(--regularfonts);
}

header {
	float: left;
	margin: 30px 60px 30px 30px;
}

a:link , a:visited {
	color: black;
	background-color: white;
}

a:hover , a:visited:hover {
	color: white;
	background-color: black;
}

img {
	width: 100%;
	object-fit: cover;
}

nav {
	padding: 25px 45px 60px;
	margin: 0;
}

nav ul {
	display: inline-block;
	vertical-align: top;
}

nav ul li {
	list-style-type: none;
	white-space: pre;
}

nav ul li a {
	text-decoration: none;
}

.selected {
	font-style: italic;
}

main {
	max-width: 624px;
	clear: both;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

footer {
	margin-inline: 30px;
}

/* page metadata */
.page-metadata {
}

.page-metadata hr {
	border: 1px dashed;
}

.page-title {
	margin: 0;
	float: left;
}

.page-date {
	margin: 0;
	float: right;
}

.page-tags {
	padding: 0;
	list-style: none;
	list-style-type: none;
}

.page-tags li {
	display: inline;
}

/* tags */
.tag-seed {
	background-color: #714D39;
	color: white;
}

.tag-fern {
	background-color: #385D70;
	color: white;
}

.tag-evergreen {
	background-color: #38704B;
	color: white;
}

.tag-index {
	background-color: #f65b34;
	color: white;
}

.tag-glossary {
	background-color: #8E7CC3;
	color: white;
}

/* page references */
.page-references h4 {
	margin-top: 30px;
	margin-bottom: 5px;
}
.page-references ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}

.page-references li {
	display: inline;
}